<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Peliculas</title>
    <!-- Agregar la referencia a los archivos CSS de Bootstrap (localmente o a través de CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">Mi Aplicación</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Acerca de</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Cursos</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Contacto</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<div class="container mt-5">
    <h1 class="mt-5">Peliculas Ganga</h1>
    <div class="row mb-3">
        <div class="col-md-12">
            <form action="/peliculas/register" method="get">
                <button type="submit" class="btn btn-primary">Registrar Peliculas</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Director</th>
                <th scope="col">Fecha de Estreno</th>
                <th scope="col">Genero</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterar sobre la lista de personas y mostrar cada una -->
            <tr th:each="pelicula : ${peliculas}">
                <td th:text="${pelicula.idPelicula}"></td>
                <td th:text="${pelicula.nomPelicula}"></td>
                <td th:text="${pelicula.director}"></td>
                <td th:text="${pelicula.fecha}"></td>
                <td th:text="${pelicula.idGenero.nombreGenero}"></td>
                <td>
                    <a th:href="@{'/peliculas/edit/' + ${pelicula.idPelicula}}" class="btn btn-warning">Editar</a>
                    <a th:href="@{'/peliculas/delete/' + ${pelicula.idPelicula}}" onclick="return confirm('¿Está seguro de que desea eliminar esta pelicula?')" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>



    
    <!-- Agregar la referencia a los archivos JavaScript de Bootstrap (localmente o a través de CDN) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>